@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@layer base {
  /* @media (prefers-color-scheme: dark)
   {
    :root {
      --textPrimary: 0 0% 100%;
      --textSecondary: 231 6% 44%;
  
      --background: 0 0% 100%;
      --backgroundShade: 240 10% 96%;
      --foreground: 0 0% 3.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;
  
      --primary: 201.47deg 76% 49.02%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 233 10% 66%;
      --secondary-foreground: 0 0% 9%;
  
      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;
  
      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
  
      --radius: 0.5rem;
    }
  } */

  :root.light {
    --textPrimary: 0 0% 0%;
    --textSecondary: 231 6% 44%;

    --background: 0 0% 100%;
    --backgroundShade: 240 10% 96%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 201.47deg 76% 49.02%;
    --primary-foreground: 0 0% 98%;

    --secondary: 233 10% 66%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;

    --border: 255 8% 90%;
    --lightBorder: 0 0% 94.18%;

    --grey-shade-1: 106 108 119;
    --grey-shade-2: 137 140 151;
  
    --primary-shade-1: 2 108 207;
    --primary-shade-2: 48 154 253;
    --primary-shade-3: 88 174 254;
    --primary-shade-4: 128 194 254;
    --primary-shade-5: 169 213 254;
    --primary-shade-6: 235 245 255;
  
    --alert-orange: 255 97 75;
  
    --accent-orange: 255 138 75;
    --accent-purple: 133 75 255;
    --accent-green: 6 218 167;
    --accent-yellow: 255 183 75;
    --accent-red: 255 75 75;
    --accent-blue: 75 169 255;
    --accent-blue-2: 42 116 202;
  
    --green-online: 21 178 74;
    --green-reaction: 42 202 193;
  
    --username-blue: 42 202 193;
    --username-green: 35 169 161;
  
    --scroll-bar-stick: 161 163 178;
  
    --premium: 255 210 70;
  
    --background-shade: rgba(106, 108, 119, 0.06);

    --whole-bg: 240 12% 96%;
  
    --dark-background-shade: rgba(106, 108, 119, 0.06);
    --dark-background-shade-2: rgba(47, 50, 55, 1);
  
    --buy-signal: rgba(42, 202, 193, 1);
    --sell-signal: rgba(255, 97, 75, 1);
  }

  :root.dark {
    --textPrimary: 0 0% 100%;
    --textSecondary: 0 0% 61.57%;

    --background: 0 0% 0%;
    --backgroundShade: 199.2 86.21% 5.69%;
    --foreground: 0 0% 3.9%;

    --border: 0 0% 30.2%;
    --lightBorder: 0deg 0% 14.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 201.47deg 76% 49.02%;
    --primary-foreground: 0 0% 98%;

    --secondary: 233 10% 66%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    @apply bg-background text-textSecondary;
  }
}

.shimmer {
  background: linear-gradient(-45deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 400% 400%;
  animation: shimmer-animation 1.5s infinite linear;
}

.rdp-vhidden {
  @apply hidden;
}

@keyframes shimmer-animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (max-width: 767px) {
  div[role="dialog"] {
    pointer-events: auto;
    position: fixed;
    bottom: 0px;
    transform: translate(0);
    left: 0px;
    border: none;
    background: hsl(var(--backgroundShade));
    border-radius: 10px 10px 0px 0px;
  } 
}
